@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  --background-color: #f7f2e6; /* pergaminho claro */
  --surface-color: #f0e6d6; /* pergaminho médio */
  --text-color: #332d28;
  --primary: #234e9e;
  --secondary: #c29b54;
  --accent: #b63b3b;
  --highlight: #a8bfe3;
  --border-color: #d6c9b4;
  --shadow-color: rgba(0, 0, 0, 0.6);

  --main-font: "Cinzel", serif;
  --text-font: "Cormorant Garamond", serif;
}

.dark-theme {
  --background-color: #0b0e19;
  --surface-color: #141827;
  --text-color: #e7ecff;

  --primary: #194d77;
  --secondary: #a89652;
  --accent: #ff6b6b;

  --border-color: #1f2a40;
  --shadow-color: rgba(0, 0, 0, 0.6);
  --highlight: #73f5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style: none;
  text-decoration: none;

  color: var(--text-color);
  transition: background 0.3s ease-in;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--text-font);
  font-size: 1.1rem;
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--primary);
}

button {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 3px;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transform: scale(1.03) translateY(-2px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 3px 3px 5px var(--shadow-color);
  padding: 0 16px;
}
.logo {
  width: 250px;
  & img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px var(--shadow-color));
  }
}
.nav-bar {
  overflow: hidden;
  display: flex;
  gap: 16px;
  z-index: 99;
}
.nav-item {
  transition: all 0.3s ease-in;
}
.nav-item:hover {
  transform: scale(1.01) translateY(-1px);
  & a {
    color: var(--primary);
    font-weight: bold;
    border-bottom: 1px solid var(--primary);
  }
}

.menu-icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 30px;
  display: none;
}
.menu-icon:hover {
  transform: scale(1.05) translateY(-3px);
  color: var(--primary);
}

.theme-button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.theme-button:hover {
  transform: scale(1.05) translateY(-1px);
  color: var(--primary);
}

footer {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  text-align: center;
  background-color: var(--surface-color);
  border-top: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
footer a:hover {
  color: var(--accent);
}
footer img {
  width: 26px;
}
@keyframes slimeJump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%) scale(1.1);
  }
}
footer img:hover {
  animation-name: slimeJump;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 600px) {
  @keyframes navMenu {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  .nav-bar {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .open-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 150px;
    text-align: center;

    border: 1px solid var(--border-color);
    background-color: var(--surface-color);

    position: absolute;
    top: 50px;
    right: 10px;

    animation-name: navMenu;
    animation-duration: 0.7s;
  }
}
