main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.welcome-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    border-bottom: 1px solid var(--border-color);
    & img {
        max-width: 350px;
        width: 50%;
        filter: drop-shadow(3px 3px 5px black);
    }
    & h1 {
        text-align: center;
    }
}

.about-section, .game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 90%;
    & p {
        width: 90%;
    }
    & img {
        max-width: 350px;
        width: 100%;
        height: 170px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        box-shadow: 3px 3px 5px var(--shadow-color);
    }
}

.game-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    gap: 16px;
    flex-wrap: wrap;
    & li {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--border-color);
        width: 32%;
        gap: 8px;
        background-color: var(--surface-color);
    }
    & h3 {
        font-size: 1rem;
        text-align: center;
    }
     & p {
        margin-bottom: 8px;
     }
}





@media screen and (max-width: 600px) {
    .game-list {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        & li {
            width: 80%;
        }
    }
}