main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.welcome-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  border-bottom: 1px solid var(--border-color);
  & img {
    max-width: 350px;
    width: 50%;
    filter: drop-shadow(3px 3px 5px black);
  }
  & h1 {
    text-align: center;
  }
}

.about-section,
.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 90%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
  & p {
    width: 75%;
  }
  & img {
    max-width: 350px;
    width: 100%;
    height: 170px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
}

.game-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  gap: 16px;
  flex-wrap: wrap;
  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--border-color);
    width: 30%;
    padding: 3px;
    gap: 8px;
    background-color: var(--surface-color);
    box-shadow: 3px 3px 5px var(--shadow-color);
    transition: all .3s ease-in-out;
  }
  & h3 {
    font-size: 1.1rem;
    text-align: center;
    height: 50px;
  }
  & span {
    border-bottom: 1px solid var(--border-color);
    color: var(--accent);
    font-size: .9em;
  }
  & p {
    margin-bottom: 8px;
  }
  & button {
   margin-left: auto;
   margin-top: auto;
   margin-right: 5px;
   margin-bottom: 5px;
   padding: 5px;
}
}
li:hover {
      transform: scale(1.03) translateY(-3px);
      border-color: var(--secondary);
    }

.hidden {
  display: none;
}

.slime {
  width: 256px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.slime img {
  width: 100%;
}
.slime-animation {
  animation-name: slimeJump;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 600px) {
  .about-section p {
    width: 90%;
  }
  .game-list {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    & li {
      width: 90%;
    }
  }
}
