input,
textarea {
  border: 1px solid var(--special);
  border-radius: 3px;
  outline: none;
  padding: 3px;
}

input:valid {
  color: green;
}
input:invalid {
  color: red;
}
input:focus {
  box-shadow: 0px 3px 5px var(--special);
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
h2 {
  text-align: center;
}

.form,
.nome,
.email,
.textarea,
.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.form,
.textarea {
  gap: 8px;
  width: 100%;
}

textarea {
  width: 50%;
  min-height: 150px;
  padding: 4px;
}

button {
  border: 1px solid var(--special);
  border-radius: 5px;
  background-color: var(--special);
  color: #fff;
  width: 100px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.03) translateX(-3px);
  background-color: var(--secondary);
  box-shadow: 3px 3px 5px var(--secondary);
}

input::selection {
  border: 1px solid pink;
}
.hidden {
  display: none;
}
.sub-msg {
  color: green;
}

@media screen and (max-width: 700px) {
  textarea {
    width: 90%;
  }
}
