input,
textarea {
  border: 1px solid var(--special);
  border-radius: 3px;
  outline: none;
  padding: 3px;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form, .nome, .email, .textarea, .subject {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form, .textarea {
  gap: 8px;
}

.textarea, textarea {
  width: 90%;
}

button {
  border: 1px solid var(--special);
  border-radius: 5px;
  background-color: var(--special);
  color: #fff;
  width: 100px;
  padding: 8px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
button:hover {
  transform: scale(1.03) translateX(-3px);
  background-color: var(--secondary);
  box-shadow: 3px 3px 5px var(--secondary);
}

@media screen and (max-width: 700px) {

}
