header {
  width: 100%;
  padding: 12px;
  background-color: var(--card-color);
  border-bottom: 1px solid var(--secondary);
  box-shadow: 3px 3px 5px var(--shadow);
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-left: 32px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.nav-bar a {
  text-decoration: none;
  color: var(--text-color);
  transition: all .3s ease-in-out;
}
.nav-bar a:hover {
  color: var(--secondary);
  transform: scale(1.05) translateY(-3px);
  text-shadow: 0 0 8px var(--secondary);
}

.menu-icon {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
}
.menu-icon:hover {
  color: var(--secondary);
  transform: scale(1.05) translateY(-3px);
}


.theme-button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  width: 30px;
  height: 30px;
  background-color: var(--special);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.theme-button:hover {
  transform: scale(1.05);
  background-color: var(--secondary);
}

h1,
h2,
h3 {
  font-family: var(--main-font);
  text-shadow: 3px 3px 5px var(--shadow);
  -webkit-text-stroke: 1px var(--shadow);
  letter-spacing: 1px;
  color: var(--special);
}

.hidden {
  display: none;
}

.game-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  margin-bottom: 32px;
}
.list-item {
  background-color: var(--secondary);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 3px 3px 5px var(--shadow);

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.list-item:hover {
  transform: scale(1.05) translateY(-3px);
  background-color: var(--special);
}
.item-selected {
  background-color: var(--special);
  transform: translateY(-3px) scale(1.05);
}

.game-card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.game-card img {
  width: 90%;
  border: 1px solid var(--border-color);
  box-shadow: 3px 3px 5px var(--shadow);
  margin-top: 8px;
}
.game-desc {
  width: 90%;
  font-size: 14px;
}
.game-details {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 4px;
  box-shadow: 3px 3px 5px var(--border-color);
  cursor: pointer;
  background-color: var(--special);
  color: var(--text-color);

  transition: all 0.2s ease-in-out;
  margin-top: auto;
}
.game-details:hover {
  transform: scale(1.05);
  background-color: var(--secondary);
  filter: drop-shadow(0 0 5px #00eaff1c);
}
.game-gender {
  color: var(--secondary);
}
.game-release {
  margin-bottom: 8px;
}
footer {
  width: 100%;
  padding: 6px;
  text-align: center;
  background-color: var(--card-color);
  border-top: 1px solid var(--secondary);
}


@media screen and (min-width: 701px) {
  .nav-bar {
    display: flex !important;
  }
}