body {
  min-height: 100vh;
}

hr {
  border-color: var(--special);
  width: 90%;
  margin: 32px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border: 1px solid var(--special);
  box-shadow: 3px 3px 5px var(--shadow);
}
.about-wrapper,
.mission-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.about-wrapper img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us,
.mission,
.values {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h2 {
  text-align: center;
}

.mission-wrapper {
  flex-direction: row-reverse;
}
.mission-wrapper img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

.mission-title {
  margin-left: 32px;
}

.values-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left {
  margin-right: 30%;
}

.right {
  justify-items: flex-end;
  margin-left: 30%;
}

@media screen and (min-width: 700px) {
  .left {
    margin-right: 0px;
    margin-left: 64px;
  }
  .right {
    margin-left: 64px;
    justify-items: flex-start;
  }
}
@media screen and (max-width: 700px) {
  .left {
    margin-right: 0px;
    margin-left: 64px;
  }
  .right {
    margin-left: 64px;
    justify-items: flex-start;
  }
  h2 {
    text-align: center;
  }
  .about-wrapper,
  .mission-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .values, .values-list {
    align-items: center;
  }
}
