body {
    min-height: 100vh;
}

hr  {
    border-color: var(--special);
    width: 90%;
    margin: 32px auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us, .mission, .values {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
h2 {
    margin-left: 32px;
}

.mission-title {
    margin-left: 32px;
}

.values-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left {
    margin-right: 30%;
}

.right {
    justify-items: flex-end;
    margin-left: 30%;
}

@media screen and (min-width: 700px) {

    .left {
        width: 50%;
        margin-right: 0px;
        margin-left: 64px;
    }
    .right {
        width: 50%;
        margin-left: 64px;
        justify-items: flex-start;
    }
}