@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

:root {
  --main-font: "Orbitron", sans-serif;
  --font: "Poppins", sans-serif;
  --background-color: #0f0f17;
  --text-color: #f5f5f5;
  --special: #00eaff;
  --secondary: #ff00e6;
  --card-color: #1a1a24;
  --border-color: rgba(0, 238, 255, 0.25);
  --shadow: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.dark-theme {
  --background-color: #05050a;
  --text-color: #e8e8e8;
  --special: #00eaff;
  --secondary: #ff00e6;
  --card-color: #12121a;
  --border-color: rgba(255, 0, 230, 0.2);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  color: var(--text-color);
}

header {
  width: 100%;
  padding: 12px;
  background-color: var(--card-color);
  border-bottom: 1px solid var(--secondary);
  box-shadow: 3px 3px 5px var(--shadow);
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-left: 32px;
}

.theme-button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: var(--special);
  cursor: pointer;

  transition: all .3s ease-in-out;
}
.theme-button:hover {
  transform: scale(1.05);
  background-color: var(--secondary);
}

h1,
h2,
h3 {
  font-family: var(--main-font);
  text-shadow: 3px 3px 5px var(--shadow);
  -webkit-text-stroke: 1px var(--shadow);
  letter-spacing: 1px;
  color: var(--special);
}

main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 32px;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 90%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  gap: 32px;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--border-color);
  background-color: var(--card-color);

  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;

  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.02) translateY(-3px);
}
.game-gender span {
  color: var(--secondary);
}
.card img {
  width: 80%;
}
.card p {
  text-align: center;
  width: 90%;
}

.about-button {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 4px;
  box-shadow: 3px 3px 5px var(--border-color);
  cursor: pointer;
  background-color: var(--special);
  color: var(--text-color);

  transition: all 0.2s ease-in-out;
  margin-top: auto;
}
.about-button:hover {
  transform: scale(1.05);
  background-color: var(--secondary);
  filter: drop-shadow(0 0 5px #00eaff1c);
}
footer {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: var(--card-color);
  border-top: 1px solid var(--secondary);
}
